@page
@model DeanHLibrarySite.Pages.StaffControls.ReturnBookingIndexModel
@{
}

@if (Model != null && Model.IsAdmin == false)
{
    <p>Incorrect permissions - Need to log in to an admin role</p>
    return;
}


<h1>Returned Books</h1>

<form>
    <p>
        User ID: <input type="text" id="userID" asp-for="UserID" />
        <br />
        Name: <input type="text" id="userName" asp-for="UserName" />
        <br />
        <h1>Returned Books</h1> 
        <br />
        Type of Media : 
        <select asp-for="SelectedBookTypes" asp-items="Model.BookTypes">
            <option value="">All</option>
        </select>        
        <br />
        Genre :
        <select asp-for="Genre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        <br />
        Title: <input type="text" asp-for="Title" />
        <br />
        Author: <input type="text" asp-for="Author" />
        <br />
        Publication Year: <input type="date" id="publicationYear" asp-for="PublicationYear" /> 
        <br />

        <input type="submit" value="Filter" />

        @if (Model != null && Model.FoundUser == false)
        {
            <h1> Couldnt find user </h1>
        }
    </p>
    <br />
</form>

<div id="pageNumberDisplay">
    <span>
        @if (Model.PageNumber > 1)
        {
            <a href="@Url.Page("./ReturnItemDetails", new { pageNumber = Model.PageNumber - 1, title = Model.Title, author = Model.Author, genre = Model.Genre, publicationYear = Model.PublicationYear, bookType = Model.SelectedBookTypes.ToString()})" class="button-link">Previous</a>
        }
        @if (Model.AmountOfPages != 0)
        {
            <text>Page: <span>@Model.PageNumber</span> / @Model.AmountOfPages</text>
        }
        @if (Model.PageNumber < Model.AmountOfPages)
        {
            <a href="@Url.Page("./ReturnItemDetails", new { pageNumber = Model.PageNumber + 1, title = Model.Title, author = Model.Author, genre = Model.Genre, publicationYear = Model.PublicationYear,  bookType = Model.SelectedBookTypes.ToString()})" class="button-link">Next</a>
        }
    </span>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                <p>Returned Book ?</p>
            </th>
            <th>
                <p>UserName</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].PublicationYear)
            </th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookTable)
        {
            <tr>
                <td>
                    <a href="@Url.Page("./ReturnItemDetails", new {bookID = item.Id})" class="button-link">Select here to return</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicationYear)
                </td>
            </tr>
        }
    </tbody>
</table>
