@page
@model DeanHLibrarySite.Pages.StaffControls.ReturnBookingIndexModel
@{
}

@if (Model != null && Model.IsAdmin == false)
{
    <p>Incorrect permissions - Need to log in to an admin role</p>
    return;
}


<h1>Returned Books</h1>

<form class="library-form">
    <label for="UserID">User ID:</label>
    <input type="text" id="userID" asp-for="UserID" />

    <label for="UserName">Email Address:</label>
    <input type="text" id="userName" asp-for="UserName" />

    @if (Model != null && Model.FoundUser == false)
    {
        <h1> Couldn't find user </h1>
    }

    <label for="SelectedBookTypes">Type of Media:</label>
    <select asp-for="SelectedBookTypes" asp-items="Model.BookTypes">
        <option value="">All</option>
    </select>

    <label for="Genre">Genre:</label>
    <select asp-for="Genre" asp-items="Model.Genres">
        <option value="">All</option>
    </select>

    <label for="Title">Title:</label>
    <input type="text" asp-for="Title" />

    <label for="Author">Author:</label>
    <input type="text" asp-for="Author" />

    <label for="PublicationYear">Publication Year:</label>
    <input type="date" id="publicationYear" asp-for="PublicationYear" />

    <input type="submit" value="Filter" />
</form>

<div id="pageNumberDisplay">
    <span>
        @if (Model.PageNumber > 1)
        {
            <a href="@Url.Page("./ReturnBookingIndex", new { pageNumber = Model.PageNumber - 1, title = Model.Title, author = Model.Author, genre = Model.Genre, publicationYear = Model.PublicationYear, bookType = Model.SelectedBookTypes.ToString()})" class="button-link">Previous</a>
        }
        @if (Model.AmountOfPages != 0)
        {
            <text>Page: <span>@Model.PageNumber</span> / @Model.AmountOfPages</text>
        }
        @if (Model.PageNumber < Model.AmountOfPages)
        {
            <a href="@Url.Page("./ReturnBookingIndex", new { pageNumber = Model.PageNumber + 1, title = Model.Title, author = Model.Author, genre = Model.Genre, publicationYear = Model.PublicationYear,  bookType = Model.SelectedBookTypes.ToString()})" class="button-link">Next</a>
        }
    </span>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                <p>Returned Book ?</p>
            </th>
            <th>
                <p>UserName</p>
            </th>
            <th>
                <p>Check Book History</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].PublicationYear)
            </th> 
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Math.Min(Model.BookTable.Count, Model.UserNames.Count); i++)
        {
            <tr>
                <td>
                    <a href="@Url.Page("./ReturnItemDetails", new {bookID = Model.BookTable[i].Id})" class="button-link">Select here to return</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.UserNames[i])
                </td>
                <td>
                    <a href="@Url.Page("./BookHistoryCheck", new {bookID = Model.BookTable[i].Id})" class="button-link">Check History</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.BookTable[i].Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.BookTable[i].Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.BookTable[i].Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.BookTable[i].Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.BookTable[i].PublicationYear)
                </td>
            </tr>
        }
    </tbody>
</table>
