@page
@model DeanHLibrarySite.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookTable</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookTable.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookTable.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookTable.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookTable.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookTable.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookTable.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookTable.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookTable.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookTable.PublicationYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookTable.PublicationYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookTable.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookTable.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BookTable?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
