@page
@model DeanHLibrarySite.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Library Listing</h1>

<p>
    <a asp-page="Create">Create New Library Entry</a>
</p>

<form>
    <p>
        Type of Media : 
        <select asp-for="SelectedBookTypes" asp-items="Model.BookTypes">
            <option value="">All</option>
        </select>        
        <br />
        Genre :
        <select asp-for="Genre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        <br />
        Title: <input type="text" asp-for="Title" />
        <br />
        Author: <input type="text" asp-for="Author" />
        <br />
        Publication Year: <input type="date" id="publicationYear" asp-for="PublicationYear" /> 
        <br />

        <input type="submit" value="Filter" />
    </p>
    <br />
</form>

<div id="pageNumberDisplay">
    <span>
        @if (Model.PageNumber > 1)
        {
            <a href="@Url.Page("./Index", new { pageNumber = Model.PageNumber - 1, title = Model.Title, author = Model.Author, genre = Model.Genre, publicationYear = Model.PublicationYear, bookType = Model.SelectedBookTypes.ToString()})" class="button-link">Previous</a>
        }
        @if (Model.AmountOfPages != 0)
        {
            <text>Page: <span>@Model.PageNumber</span> / @Model.AmountOfPages</text>
        }
        @if (Model.PageNumber < Model.AmountOfPages)
        {
            <a href="@Url.Page("./Index", new { pageNumber = Model.PageNumber + 1, title = Model.Title, author = Model.Author, genre = Model.Genre, publicationYear = Model.PublicationYear,  bookType = Model.SelectedBookTypes.ToString()})" class="button-link">Next</a>
        }
    </span>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].PublicationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTable[0].Description)
            </th>
            <th>
                <p>Availability</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookTable) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if(Model != null && Model.BookAvailability != null)
                {
                    if (Model.BookAvailability.ContainsKey(item.Id) && Model.BookAvailability[item.Id] )
                    {
                        if (Model.LoggedIn == false)
                        {
                            <p>This item is available to book this item you need to login and return to this page</p>
                        }
                        else
                        {
                            <p>Is Available</p>
                            <a href="@Url.Page("./CreateBooking", new {id = item.Id, pageNumber = Model.PageNumber, title = Model.Title, author = Model.Author, genre = Model.Genre, publicationYear = Model.PublicationYear,  bookType = Model.SelectedBookTypes.ToString()})" class="button-link">Book</a>
                        }
                    }
                    else
                    {
                        @if (Model.BookReturnDateExpired.ContainsKey(item.Id) && Model.BookReturnDateExpired[item.Id])
                        {
                            <p> Should be returned. Contact library for further information</p>
                        }
                        else
                        {
                            <p>Return Date: @Model.BookReturnDates[item.Id]?.ToShortDateString()</p>
                        }
                    }   
                }
            </td>
            <td>
                @if (Model != null && Model.IsAdmin)
                {
                    <a href="@Url.Page("./Edit", new {id = item.Id, pageNumber = Model.PageNumber, title = Model.Title, author = Model.Author, genre = Model.Genre, publicationYear = Model.PublicationYear,  bookType = Model.SelectedBookTypes.ToString()})" class="button-link">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
                <a href="@Url.Page("./Details", new {id = item.Id, pageNumber = Model.PageNumber, title = Model.Title, author = Model.Author, genre = Model.Genre, publicationYear = Model.PublicationYear,  bookType = Model.SelectedBookTypes.ToString()})" class="button-link">Details</a>  
            </td>
        </tr>
}
    </tbody>
</table>
